doctype html
html
    head
        meta(charset="uft-8")
        block title
            title タイトル
        block meta
            meta(name="description", content="説明")
        block link
            link(rel="stylesheet" href="/css/style.css")
    body
        block body