// ----------------------------------
// variables
//
$size-font-root: 62.5%;
$size-font-base: 1.0rem;
$font-family-base: "Noto Sans Japanese", sans-serif;
$line-height-base: 1.7;

$color-font: #525252;

$base-color: #ffffff;
$header-color:rgba(0.3,0.3,0.3, 0.8);


$width-inner: 980px;

