extends ./extends/layout
block title
    title テスト
block prepend meta
    meta(name="viewport", content="width=device-width, initial-scale=1")
block append link
    link(rel="stylesheet" href="/css/index.css")
block body
    p メインコンテンツ